/* Universal */

html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

a {
  color: seashell;
}

body {
  margin: 0;
  text-align: center;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;
}

header
img {
  height: 50px;
  padding-left: 10px;
}

header
nav
span {
  text-align: center;
  text-decoration: underline;
  padding-right: 20px;
}

/* Content */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hero */

#mission {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statement {
  display: block;
  background-color: black;
  text-align: center;
  width: 1200px;
}

/* Tea Section */

#tea {
  display: flex;
  width: 1000px;
  flex-direction: column;
}

.teas {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.group {
  margin: 10px;
}

.teas
img {
  height: 200px;
  width: 300px;
}

.teas
img
h4 {
  padding-top: 10px;
}

/* Locations */

.locations {
  display: flex;
  flex-direction: column;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  text-align: center;
}
