/* Universal */
* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;

}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;

}
header
img {
  height: 50px;
  padding-left: 10px;
}

header
nav
span {
  text-align: center;
  text-decoration: underline;
  padding-right: 20px;

}
